APP_HOST=127.0.0.1
APP_PORT=3000
APP_PREFIX='/api/v1'

MONGO_HOST=You_Host
MONGO_PORT=You_Port
DB_NAME=You_Database
MONGO_USER=You_User
MONGO_PASS=You_Password
MONGO_URI=You_Uri

#AdminJS
ADMINJS_USER='admin'
ADMINJS_PASSWORD='123123'
ADMINJS_ROOTPATH='/admin'